*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "Cursor Gothic";
  src: url("./fonts/CursorGothic-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

button{
    cursor: pointer;
}

body {
  font-family: "Cursor Gothic", sans-serif;
  background-color: rgb(20, 18, 11);
  
  color: #edecec;
  min-height: 100vh ;
  margin:0px auto;
  position: relative;
}



nav{

    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    /* margin-top: 15px; */
    background-color: rgb(20, 18, 11);
    z-index: 10;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 10px 0;
}


.navbar , header, main{
    width: 1300px;
    margin: 0px auto;

}

ul{
    list-style: none;
    display: flex;
    font-size: 14px;
    gap: 30px;
}

ul li:hover{
    cursor: pointer;
    color: #afafaf;
}

.nav-btn{
    font-size: 14px;
    padding: 5.6px 10.5px 5.88px;
    border-radius: 3.40282e38px;
    outline: none;
    border: none;
}

#signIn {
    background-color: rgb(0, 0, 0, 0);
    color: #edecec;
    border: 1px solid #302e29;   
}
#signIn:hover{
    background-color: rgb(22, 22, 22);  
}
#download{
    background-color: #edecec;
    color: #14120b;
    border-radius: 2.94176e+07px;
    margin-left: 5px;
}
#download:hover{
    background-color: #c6c6c6;
}
#hero-section{
    padding-top: 164px;
}

#hero-info{
    width: 40%;
    font-size: 26px;
    
}

#hero-info button{
    font-size: 16px;
    padding:12.8px 21.6px;
    border-radius: 2.68435e+07px;
    margin: 20px 0;

    display: flex;
    gap: 10px;
    align-items: center;
    outline: none;
    border: none;
}
#hero-info button:hover{
    background-color: #c6c6c6;
    cursor: pointer;
}
#hero-img{
    margin: 56px 0;
}

.trusted-by{
    display: flex ;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin: 20px 0;
}

.hoverbg:hover{
    background-color: rgb(35, 33, 28);    
}

.cards{
    height: 100px;
    padding: 0 7.5px;
    /* border: 1px solid blue; */
    width: 153.75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B1913;
    border-radius: 4px;
}

.download-bt{
    background-color: rgb(237, 236, 236);
}

.download-btn:hover{
    background-color: rgb(223, 223, 223);
}

.bigCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: rgb(27,25,19);
    padding: 17.5px;
    margin: 95px 0;
    border-radius: 4px;
    cursor:pointer;
}

.review{
    margin: 95px 0;
    min-height: 120vh;

}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin: 45px 0;

    
}

.box{
    height: 278.18px;

    padding: 15.9px 17.5px 17.5px;
    background-color: rgb(27, 25, 19);
    border-radius: 4px;
    position: relative;
}

.author {
    display: flex;

    align-items: center;

    gap: 10px;

    position: absolute;
    bottom: 17.5px;
    left: 15.9px;
}

.frontier-grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    

}

.frontier-box{
    background-color: rgb(27, 25, 19);
    border-radius: 5px;
    padding: 15.9px 17.5px 17.5px ;
    margin: 20px 0;
}

.changelog-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

.changeLog-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 120.95px;
    align-items: start;
    gap: 10px;
    padding: 15.9px 17.5px 17.5px ;
    background-color: rgb(27, 25, 19);
    border-radius: 4px;
}

.changeLog-card span{
    padding: 1px 10px; 
    border-radius: 20px;
    border: 1px solid oklab(0.943853 0.00107113 0.000336707 / 0.6);
}

.highlights-bg{
    background-color: #1B1913;
    min-height: 100vh;
    /* make the section span the full viewport width even when body is constrained */
    width: 100vw;
    margin-left: calc(50% - 50vw);

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.highlights{
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.highlights-grid{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 7px;

}

.highlights-card{
    background-color: rgb(32, 30, 24);
    border-radius: 5px;
    padding: 15.9px 17.5px 17.5px ;
    font-size: 16px;
}

footer section button{
    font-size: 16px;
    padding:12.8px 21.6px;
    border-radius: 2.68435e+07px;
    margin: 20px 0;

    display: flex;
    gap: 10px;
    align-items: center;
    outline: none;
    border: none;
}

.try-block{

    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    height: 50vh;
    background-color: #1B1913;
    
}

.links-grid{
    width: 86%;
    margin: 40px auto;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

.links-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.end{
    width: 86%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.end div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.end div:last-child{
    display: flex;
    gap: 20px;
}

.end div div{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;  
    background-color: rgb(38, 36, 30);

    padding: 2px 7px;
    border-radius: 20px;
}